.abc {
    max-height: 10;
    max-width: 20pc;
    padding: 30px;
    margin: 40 auto;
}

/* 
Expected: python3 ccp.py --file examples/lines_positive.css --lines 2,3,4,5 --adjustments +1

.abc {
    max-height: 11;
    max-width: 21pc;
    padding: 31px;
    margin: 41 auto;
}
*/